* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root,
.App {
  height: 100vh;
}
.App {
  display: flex;
  justify-content: center;
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandsList,
.productsList,
.cartList {
  border: 1px solid black;
  width: 15rem;
  height: 30rem;
  float: left;
}

.brandsList {
  background-color: rgb(191, 160, 211);
}
.productsList {
  background-color: rgb(182, 200, 211);
}
.cartList {
  background-color: rgb(205, 212, 218);
}

.brands,
.products {
  padding: 1rem;
}
.brandButton {
  width: 100%;
  height: 4rem;
  border-style: none;
  border-bottom: 1px solid black;
  background: rgb(191, 160, 211);
  cursor: pointer;
}

.brandProducts {
  width: 100%;
  height: 4rem;
  border-style: none;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productQnty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productQnty button {
  width: 0.8rem;
  text-align: center;
  border-style: none;
  background: none;
  cursor: pointer;
}

.cartContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 49%;
}

.checkoutContainer {
  margin: 1rem;
}

.cartItems {
  padding: 1rem;
}
.cartCheckout {
  height: 40%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: rgb(255, 201, 170);
}

.brandHeader,
.productHeader,
.cartHeader {
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid black;
}
.checkoutForm {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.checkoutForm input {
  margin-top: 0.5rem;
}

.checkoutForm button {
  margin-top: 1rem;
}

.cartItemDetails {
  display: flex;
  justify-content: space-between;
}
